#chart {
    background: url(chart.jpg);
    width: 900px;
    height: 701px;
    list-style-type: none;
    position: relative;
    padding: 0;
}


#chart li {
    position: absolute;
    background-size: 100%;
    width: 243px;
    height: 162px;
}

#chart li:nth-child(1),
#chart li:nth-child(4),
#chart li:nth-child(7) {
    left: 28px;
}

#chart li:nth-child(2),
#chart li:nth-child(5),
#chart li:nth-child(8) {
    left: 329px;
}

#chart li:nth-child(3),
#chart li:nth-child(6),
#chart li:nth-child(9) {
    left: 629px;
}

#chart li:nth-child(1),
#chart li:nth-child(2),
#chart li:nth-child(3) {
    top: 19px;
}

#chart li:nth-child(4),
#chart li:nth-child(5),
#chart li:nth-child(6) {
    top: 253px;
}

#chart li:nth-child(7),
#chart li:nth-child(8),
#chart li:nth-child(9) {
    top: 489px;
}

#linda {
    background: url(linda.jpg);
}

#julia {
    background: url(julia.jpg);
}

#barbie {
    background: url(barbie.jpg);
}

#jim {
  background: url(jim.jpg);
}

#lester {
  background: url(lester.jpg);
}

#junior {
    background: url(junior.jpg);
}